<div>
<xmp id="xmloutput"><% include metadata/metadata.ejs %></xmp>
</div>

<script>
$('#xmloutput').click(function(event){
  event.preventDefault();
  //copyToClipboard($(this).text());
});
</script>
