<% include header.ejs %>
  <div class="row clearfix">
    <div class="col-md-12"><h1><%= title %></h1></div>
	</div>
  <!-- Split button -->
  <div class="btn-group">
    <button type="button" class="btn btn-default">Yntinifni raw</button>
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <span class="caret"></span>
      <span class="sr-only">Toggle Dropdown</span>
    </button>
    <ul class="dropdown-menu">
      <li><a class="loadPanel" href="ylist">Show list</a></li>
      <li role="separator" class="divider"></li>
      <li><a class="loadPanel" href="ytinifni2core">Export to Core metadata</a></li>
      <li><a href="loadcsv">Reload from csv</a></li>
    </ul>
  </div>
  <div class="btn-group">
    <button type="button" class="btn btn-default">Core Metadata</button>
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <span class="caret"></span>
      <span class="sr-only">Toggle Dropdown</span>
    </button>
    <ul class="dropdown-menu">
      <li><a class="loadPanel" href="corelist">Show list</a></li>
      </ul>
  </div>

  <div id="reactMenuContainer">menu</div>

  <div id="container">
    <p>
      To install React, follow the instructions on
      <a href="https://github.com/facebook/react/">GitHub</a>.
    </p>
    <p>
      If you can see this, React is not working right.
      If you checked out the source from GitHub make sure to run <code>grunt</code>.
    </p>
  </div>


  <script type="text/babel">
  //import {Button} from 'react-bootstrap';

  var ExampleApplication = React.createClass({
    render: function() {
      var param = this.props.arg;
      return <p>React funguje: {param}</p>;
    }
  });

  const buttonsBar = (
    <ButtonGroup>
      <p bsStyle="primary">Button</p>
    </ButtonGroup>
  );

  var MenuApp = React.createClass({
    render: function(){
      return button;
    }
  });

  ReactDOM.render(
    <ExampleApplication arg="nazdar" />,
    document.getElementById('container')
  );

  ReactDOM.render(
    <MenuApp />,
    document.getElementById('reactMenuContainer')
  );

  </script>

  <div id="replacePanel"></div>

  <script>
    $('.loadPanel').click(function(event){
      event.preventDefault();
      $('#replacePanel').html('<span class="text-info">Working...</span>');
      var url = $(this).attr('href');
      loadPanel(url);
    });

    var loadPanel = function(url) {
      $.ajax({
        type:"GET",
        url: url,
        success: function(response){
          $('#replacePanel').html(response);
        },
        error: function(xhr,ajaxOptions,throwError) {
          console.log(xhr.status);
          console.log(throwError);
        }
      });
    }

    function copyToClipboard(text) {
      window.prompt("Copy to clipboard: Cmd + C, Enter", text);
    }

	</script>
<% include footer.ejs %>
